@import "variables";

#footer {
    grid-area: footer;
    background-image: url(../media/backgrounds/background_14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .sombra {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        grid-template-rows: 1fr 0.1fr;
        grid-template-areas: "titular formulario" "copyright copyright";
        .titular {
            grid-area: titular;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            margin: auto;
            margin-left: 6rem;
            margin-right: 1rem;
            margin-bottom: 5rem;
            border-left: 1px solid white;
            width: 30rem;
            height: 27.5rem;
            padding-left: 2rem;
            h3 {
                font-size: 3rem;
                font-weight: 100;
                color: $light;
                font-style: italic;
                text-shadow: 0 0 1rem $focus, 0 0 0.2rem $focus;
                line-height: 1.1;
            }
            p {
                width: 82%;
                margin-top: 4rem;
                margin-bottom: 4rem;
                font-size: 1.2rem;
                font-weight: 200;
                color: $light;
                line-height: 1.5;
                a {
                    color: $focus;
                }
            }
        }
        .copyright {
            grid-area: copyright;
            color: $light;
            font-weight: 100;
            text-align: center;
        }
        form {
            grid-area: formulario;
            display: flex;
            flex-flow: column nowrap;
            width: 80%;
            margin: auto;
            margin-bottom: 5rem;
            textarea,
            input {
                background-color: transparent;
                border: 1px solid $light;
                color: $light;
                padding: 1rem;
                margin: 0.5rem;
                font-size: 1rem;
                outline: none;
            }
            textarea {
                height: 14rem;
            }
            textarea::placeholder,
            input::placeholder {
                color: rgb(155, 155, 155);
                font-size: 1rem;
            }
            input:focus,
            textarea:focus {
                background-color: rgb(255, 255, 255);
                color: #000;
            }
            button {
                width: 97.5%;
                font-size: 1rem;
                height: auto;
                padding: 1rem;
                border-radius: 0rem;
                margin: auto;
                margin-top: 0.5rem;
            }
        }
    }
}