@import "variables";

#lista {
    grid-area: lista;
    background-image: url(../media/backgrounds/background_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .sombra {
        display: grid;
        grid-template-columns: 1.35fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "imagen promocion";
        .imagen {
            grid-area: imagen;
            margin: auto;
            perspective: 1000px;
            img {
                width: auto;
                height: 25rem;
                margin-top: 2rem;
                transform: rotateY(25deg);
                transition: 1s ease-in-out;
                filter: saturate(50%) brightness(90%);
            }
            img:hover {
                transform: rotateY(0deg) scale(110%) translateX(1.5rem);
                filter: saturate(100%) brightness(110%);
            }
            
        }
        .promocion {
            grid-area: promocion;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-end;
            justify-content: center;
            margin: auto;
            margin-right: 6rem;
            margin-left: 1rem;
            border-right: 1px solid white;
            height: 30rem;
            padding-right: 2rem;
            z-index: 2;
            h3 {
                font-size: 3rem;
                font-weight: 100;
                color: $light;
                font-style: italic;
                text-shadow: 0 0 1rem $focus, 0 0 0.2rem $focus;
                line-height: 1.1;
                text-align: right;
            }
            p {
                margin-top: 4rem;
                margin-bottom: 4rem;
                font-size: 1.2rem;
                font-weight: 200;
                color: $light;
                line-height: 1.5;
                text-align: right;
                width: 90%;
            }
            .botones {
                font-size: 1.2rem;
                font-style: italic;
                background-color: $light2;
                height: auto;
                padding: 0.5rem 1rem;
                border-radius: 1.5rem;
                width: 45%;
                margin: initial;
                a {
                    color: $dark2;
                }
            }
            .botones:hover {
                background-color: $focus;
                color: $dark;
            }
        }
    }
}