@import "variables";

#lista {
    grid-area: lista;
    background-color: #1f1f1f;
    background-image: url(../media/backgrounds/background_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    .posters {
        width: 92%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 9.2rem);
        grid-template-rows: auto;
        grid-gap: 0.5rem;
        filter: grayscale(20%) brightness(90%);
        padding-top: 8rem;
        @each $id in "1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18" {
            #c#{$id} {
                background-image: url(../media/posters/#{$id}.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                height: 13.8rem;
                border-radius: 6px;
                box-shadow: 0px 0px 10px rgb(0, 0, 0);
                position: relative;
                .resaltado {
                    position: relative;
                    color: $light2;
                    width: 100%;
                    height: 100%;
                    p {
                        position: relative;
                        z-index: -1;
                    }
                }
                .resaltado::after {
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    top: 0;
                    right: 0;
                    width: 9.2rem;
                    opacity: 0;
                    transition: all 0.5s ease;
                    background-color: rgba(24, 24, 24, 0.7);
                    backdrop-filter: blur($blur);
                    border-radius: 5px;
                }
                .resaltado:hover {
                    p {
                        z-index: 2;
                        font-size: 0.8rem;
                        padding-left: 1rem;
                        padding-top: 0.5rem;
                        padding-right: 1rem;
                        transition-delay: 0.3s;
                        strong {
                            font-size: 1rem;
                        }
                    }
                }
                .resaltado:hover::after {
                    top: 0;
                    bottom: 0;
                    opacity: 1;
                    z-index: 1;
                }
            }
            #c#{$id}::before {
                content: "##{$id}";
                color: $focus;
                font-size: 1.5rem;
                position: absolute;
                right: 1rem;
                bottom: 0.5rem;
                font-weight: 600;
                z-index: 3;
                transition: 1s;
                opacity: 0;
            }
            #c#{$id}:hover::before {
                opacity: 1;
            }
        }
    }
    .orden {
        align-items: center;
        .filtros {
            display: flex;
            a {
                position: relative;
                color: $focus;
                font-size: 1.2rem;
                font-weight: 600;
                z-index: 2;
                margin-top: 4.2rem;
                margin-left: 4rem;
            }
            a:hover {
                color: $light2;
            }
        }
        .verMas {
            display: flex;
            a {
                position: relative;
                color: $focus;
                font-size: 2rem;
                margin-top: 4rem;
                margin-left: 38rem;
                z-index: 3;
                transition: 0.5s all ease-in;
            }
            a:hover {
                transform: rotate(90deg);
            }
        }
    }
}
#baseFiltro {
    position: absolute;
    background-color: $focus;
    width: 17.5rem;
    height: 100%;
    top: 0rem;
    left: 0rem;
    transform: translateX(-17.5rem);
    ul {
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
} 
.showMenu {
    transform: translateX(17.5rem);
}